@import url(reset.css);
@font-face {
    font-family: 'Geologica', 'Verdana', 'Montserrat', 'Noto Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&family');
}


body{
    background-color: #EEEEE1;
    font-family: 'Geologica', 'Verdana', sans-serif;

    width: 100%;
}


/* -----------Section 1 -----------*/

.sectionOneTitle{
    display: block;
    margin: 80px auto 0;
}


.sectionOneOuter{
    /* width: 100%;
    display: block;
    margin: 0 auto; */
}

.sectionOneInner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: #BBD94E;
    border-radius: 20px;
    margin-left: -84px;
    margin-right: 100px;
}


.sectionOneOuter img{
    width: 950px;
    height: 807px;
    margin-left: 100px;
    /* display: block;
    margin: 0 auto; */

    /* margin-left: 165px; */
}


.sectionOneOuter h2{
    font-size: 28px;
    font-weight: bold;
    color: #025949;

    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.2em;
}

#tabone{
    background-color:#025949;
    color:#EEEEE1;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    width: 104px;
    height: 28px;
    line-height: 2.2em;

    margin-top: 60px;
}

.sectionOneOuter p{
    font-size: 20px;
    color: #025949;
    
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 1.5em;
}


.sectionOneOuter .readmorebtn{
    background-color: #025949;
    border: none;
    color:#EEEEE1;
    padding: 10px 40px;
    text-align: center;
    font-family: Geologica;
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    border-radius: 50px;
    margin-left: 80px;
    margin-bottom: 60px;
    height: 58px;
    width: 210px;

    transition-duration: 0.4s;
    cursor: pointer;
}

::placeholder{
    color:#BBD94E;
    font-family: Verdana;
  }
  
  .readmorebtn:hover {
    background-color: #EEEEE1;
    color:#025949;
    font-weight: 500;
  }
  


/* -----------------Section 2----------------- */


.sectionTwoOuter{
    width: 100%;
}


.sectionTwoTitle{
    display: block;
    margin: 50px auto 0;
}


.blogposts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
}

.blogposts li{
    background-color:#BBD94E;
    border-radius: 30px;
    /* width: 560px;
    height: 700px; */

    box-sizing: border-box;
    margin: 0 50px 100px;

}

.blogposts img{

    display: block;
    width: 100%;
    flex-grow: 1;
}

.blogposts p{
    background-color:#025949;
    color: #EEEEE1;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    width: 104px;
    height: 28px;
    line-height: 2.3em;

    margin-left: 50px;
    margin-top: 20px;
}

.blogposts h2{
    font-size: 22px;
    color: #025949;
    font-weight: bold;

    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    line-height: 1.2em;
}


/* ---------Section 3 (newsletters) ---------*/

.sectionThreeOuter{
    background-color: #025949;
    border-radius: 20px;
    max-width: 1920px;
    width: 60%;
    height: 280px;
    padding: 80px 80px;

    margin: 0 auto;
}

.sectionThreeOuter h1{
    color: #BBD94E;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}


.sectionThreeOuter h2{
    color: #BBD94E;
    font-size: 20px;
    line-height: 1.2em;

    margin-bottom: 20px;
}

.sectionThreeOuter form{
    width: 400px;
    height: 180px;
}

#inputboxes{
    max-width: 360px;
    width: 100%;
}


input[type=text]{
    background-color:#BBD94E;
    color:#025949;

    max-width: 380px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EEEEE1;
    border-radius: 20px;
    box-sizing: border-box;
  }

  input[type=number]{
    background-color:#BBD94E;
    color:#025949;

    width: 370px;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #EEEEE1;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 180px;
    background-color:#BBD94E;
    color:#025949;
    font-weight: bold;
    font-family: Verdana;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;

    transition-duration: 0.4s;
    cursor: pointer;
  }

  ::placeholder{
    color:#025949;
    font-family: Verdana;
  }
  
  input[type=submit]:hover {
    color:#025949;
    font-weight: bold;
    background-color: #EEEEE1;
  }
  
  .sectionThreeOuter p{
    color: #BBD94E;
    font-size: 16px;
  }

  .sectionThreeOuter img{
    width: 220px;
    height: 220px;

    margin-left: 10px;
    float: right;
  }
