@import url(reset.css);
@font-face {
    font-family: 'Geologica', 'Verdana', 'Montserrat', 'Noto Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&family');
}

html {
  scroll-behavior: smooth;
 }


body{
    background-color: #EEEEE1;
    font-family: 'Geologica', sans-serif;

    /* max-width: 1920px; */
    width: 100%;
}


/* ------------Section 1----------- */

.sectionOneOuter{
    width: 100%;
    height: 660px;
    background-color:#025949;

    margin-bottom: 100px;
}


.sectionOneOuter h1{
    padding-top: 300px;
    color:#BBD94E;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;

}

.sectionOneOuter p{
    color: #BBD94E;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.searchbox{
    width: 470px;
    position: relative;

    display: block;
    margin: 0 auto;
}

#typeQs[type=text]{
    background-color:#BBD94E;
    color:#025949;

    width: 480px;
    padding: 12px 50px;
    /* display: inline-block; */
    margin: 8px auto;
    border: 1px solid #EEEEE1;
    border-radius: 20px;
    /* box-sizing: border-box; */
  }

  .searchbox i{
    position: absolute;
    top: 29px;
    left: 20px;
  }

  #typeQs::placeholder{
    color:#025949;
    font-family: Verdana;
    padding-left: 10px;
  }


  /* User/Business Auto-scroll link */

  .autoScroll{
    text-align: center;
  }
  
  .autoScroll a{
    text-decoration: none;
    color:#025949;
    background-color:#BBD94E;
    border-radius: 50px;
    /* padding: 20px 40px; */

    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
   }
   
   #userFAQs{
    display: inline-block;
    width: 250px;
    height: 50px;
    padding-top: 20px;
   }

   #bizFAQs{
    display: inline-block;
    width: 250px;
    height: 50px;
    padding-top: 20px;
   }
   
   #downUser {
    margin-top: 0%;
    padding-bottom: 0%;
   } 
  
   #downBusiness {
    margin-top: 0%;
    padding-bottom: 0%;
   } 
 


/* --------User FAQs--------- */

.userFAQsOuter{
    width: 100%;
    margin: 0 auto;
}

#userTitle{
    display: block;
    margin: 0 auto;

    height: 340px;
}

.FAQsCategory{

}


.FAQsCategory ul{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

.FAQsCategory li{
    background-color:#BBD94E;
    width: 600px;
    height: 220px;

    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-bottom: 15px;
    margin-right: 15px;

    border-radius: 20px;
}



.FAQsCategory img{
    width: 60px;
    height: 60px;

    position: absolute;
    margin-top: 28px;
    padding-left: 40px;
    padding-top: 44px;

}

.FAQsCategory h1{
    font-size: 32px;
    font-weight: bold;
    color: #025949;

    padding-left: 130px;
    padding-top: 58px;

    float: right;

}

.FAQsCategory p{
    color: #025949;
    font-size: 18px;

    padding-left: 130px;
    margin-top: 10px;
    line-height: 1.2em;
}


/* -------User FAQ Questions------- */

.userWrapper {
    max-width: 1420px;
    width: 100%;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .userContainer {
    background-color:#BBD94E;
    color:#025949;
    border-radius: 20px;
    /* box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25); */
    margin: 10px 0px;
    max-width: 1920px;
    width: 90%;

    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  
  .userQuestion {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px 20px 40px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .userQuestion::after {
    content: "\002B";
    font-size: 1.6rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }
  
  .userQuestion.active::after {
    transform: rotate(45deg);
  }
  
  .userAnswerCont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .userAnswer {
    line-height: 1.2rem;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 80px;
    padding-bottom: 16px;

  }
  
  .userQuestion.active + .userAnswerCont {
  }
  
  @media screen and (max-width: 790px){
    html {
      font-size: 14px;
    }
    .userWrapper {
    width: 80%;
  }
  }


/* ------Business FAQs Categories------ */

.businessFAQsOuter{
    width: 100%;

    margin: 0 auto;

}

#businessTitle{
    display: block;
    margin: 0 auto;

    height: 340px;
}

.bizFAQsCategory{

}


.bizFAQsCategory ul{
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

.bizFAQsCategory li{
    background-color:#025949;
    width: 600px;
    height: 220px;

    display: flex;
    flex-direction: column;
    padding-right: 30px;
    margin-bottom: 15px;
    margin-right: 15px;

    border-radius: 20px;
}



.bizFAQsCategory img{
    width: 60px;
    height: 60px;

    position: absolute;
    margin-top: 28px;
    padding-left: 40px;
    padding-top: 44px;

}

.bizFAQsCategory h1{
    font-size: 32px;
    font-weight: bold;
    color:#BBD94E;

    padding-left: 130px;
    padding-top: 58px;

    float: right;

}

.bizFAQsCategory p{
    color:#BBD94E;
    font-size: 18px;

    padding-left: 130px;
    margin-top: 10px;
    line-height: 1.2em;
}




/* ----Business FAQ Questions---- */



.bizWrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1360px;
  }
  
  
  .bizContainer {
    background-color:#025949;
    color:#BBD94E;
    border-radius: 20px;
    /* box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25); */
    width: 95%;

    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  
  .bizQuestion {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 80px 20px 40px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .bizQuestion::after {
    content: "\002B";
    font-size: 1.6rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
  }
  
  .bizQuestion.active::after {
    transform: rotate(45deg);
  }
  
  .bizAnswerCont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .bizAnswer {
    line-height: 1.2rem;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 80px;
    padding-bottom: 16px;

  }
  
  .userQuestion.active + .userAnswerCont {
  }
  
  @media screen and (max-width: 790px){
    html {
      font-size: 14px;
    }
    .userWrapper {
    width: 80%;
  }
  }




/* -------Have questions we didn't cover?------ */


.qaOuter{

}

#qatitle{
    display: block;
    margin: 0 auto;

    height: 340px;
}

.qaOuter h3{
    color: #025949;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2em;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}


.qaContentOuter{
    background-color:#BBD94E;
    border-radius: 30px;
    width: 60%;
    height: 100%;
    /* width: 646px; */
    /* height: 520px; */

    margin: 0 auto 150px;

}

.qaContents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
    /* padding-left: 100px; */
}


  .qaContents .form-inline{
    /* margin: 0 auto; */
    margin-left: 20%;
    margin-right: 10%;
  }

input[type=text]{
    background-color:#025949;
    color:#BBD94E;

    /* width: 220px; */
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #EEEEE1;
    border-radius: 20px;
    box-sizing: border-box;
  }

  input[type=number]{
    background-color:#BBD94E;
    color:#025949;

    /* width: 480px; */
    width: 80%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #EEEEE1;
    border-radius: 20px;
    box-sizing: border-box;
  }

#email{
    /* width: 446px; */
    width: 80%;

}

#comments{
    /* width: 432px; */
    width: 80%;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;


    text-decoration: none;
    border-radius: 20px;
    background-color:#025949;
    color:#BBD94E;
    font-family: Verdana;

    resize: none;
}

textarea::placeholder{
    resize: none;
    color:#BBD94E;
    font-family: Verdana;
}
  
  
  input[type=submit]{
    width: 180px;
    background-color:#025949;
    color:#EEEEE1;
    font-weight: bold;
    font-family: Verdana;
    padding: 14px 20px;
    /* margin: 10px 0; */
    margin: 20px auto 50px;
    border: none;
    border-radius: 20px;

    transition-duration: 0.4s;
    cursor: pointer;
  }

  ::placeholder{
    color:#BBD94E;
    font-family: Verdana;
  }
  
  input[type=submit]:hover {
    color:#025949;
    font-weight: bold;
    background-color: #EEEEE1;
  }
