/* ------------1280------------- */

@media screen and (max-width: 1280px){

    .leftContent h1{
        font-size: 46px;
        text-align: center;
    }

    .leftContent img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }


    .rightContent h3{
        font-size: 18px;
    }

    #inputboxes{
        width: 300px;
    }

    .rightContent .goBack{
        padding: 12px 12px;
        margin-right: 10px;
    }

    .loginbtn{
        padding: 12px 12px;
    }


}


/* ------------768------------- */

@media screen and (max-width: 768px){

    .leftOuter{
        width: 45%;

    }
    
    .leftContent h1{
        font-size: 36px;
        text-align: center;
    }

    .leftContent img{
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    .rightContent h3{
        font-size: 16px;
    }

    #inputboxes{
        width: 280px;
    }

    .rightContent .goBack{
        font-size: 13px;
        padding: 10px 10px;
        margin-right: 10px;
    }

    .loginbtn{
        font-size: 13px;
        padding: 10px 10px;
    }

}

/* ------------414------------- */

@media screen and (max-width: 414px){

    .leftOuter{
        display: none;
    }


}



